<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="logo-title">Login Administrador</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="login-container">
  <ion-grid class="login-grid">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" class="google-button" (click)="loginWithGoogle()">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Iniciá sesión con Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
